body {
    font-family: sans-serif;
    width: auto;
    align-content:space-between;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    list-style-type: none;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 10px;
}

.left-links {
    display: flex;
    color: white;
    font-weight: 900;
    padding: 20px;
    align-items: center;
}

.right-links {
    display: flex;
    font-weight: 500;
    align-items: center;
    flex-direction: column;
    padding-right: 55px;
    margin-left: 55px;
}


.under-header {
    display: flex;
    padding: 70px;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;

}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1 1 500px;
    align-items: left;
}

.uh-title {
    align-content: left;
    font-size:xx-large;
    font-weight: bolder;
    margin-bottom: 10px;
}

.subtext {
    margin-bottom: 10px;
}

.button {
    border: solid white 1px;
    display: flex;
    max-width: 70px;
    background-color: #3882F6;
    border-radius: 5px;
    padding-left: 5px;
}

.right-side {
    display: flex;
    flex: 1 1 500px;
}

.img1 {
    min-width: 200px;
    min-height: auto;
}

.boxes-portion-container {
    display:flex;
    flex-direction: column;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color:#1F2937;
    font-weight: bolder;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info {
    max-width: 110px;
    border: solid #1F2937 2px;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }

img {
    max-width: 110px;
}

.inspiring-portion {
    display: flex;
    background-color: #E5E7EB;
    padding: 100px;
    align-content: center;
    flex-grow: 1 0 auto;
    flex-direction: column ;
}

.quote {
    font-style: italic;
    font-size: 20px; 
    color: #1F2937;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
 
}

.author {
    font-style: italic;
    font-size: 20px; 
    color: #1F2937;
    font-weight: 900;
    display: flex;
    flex: 1 0 auto;
    align-items: right;
    justify-content: right;
    padding-right: 10%;   
}

.action-items {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    padding: 30px;
}


.modal {
    background: #3882F6;
    width: 480px;
    border-radius: 10px;
    display: flex;
    padding: 16px;
  }

.ttop {
    display: flex;
    flex-direction: column;

  }

.top-action {
    color:#E5E7EB;
    font-size: large;
    font-weight: 600;
    margin-bottom: 6px;
}

.bottom-action {
    color:#E5E7EB;

}

.continue {
    color:#E5E7EB;
    background: #3882F6;
    box-shadow: none;
    flex: 1 1 100px;
    font-weight: 800;

    
}
.container {
    display: flex;
  }




a {
    text-decoration: none;
    color: white;
    display: flex;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.footer {
  display:flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  background-color: #1F2937;
  color: white;
  text-align: center;
  padding: 15px;
  justify-content: center;
}   